BundledAsyncSite.Host/Service References/EventHandlingServiceProxy/EventHandlingService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BundledAsyncSite.Host.Events" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BundledAsyncSite.Host.Events" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EventBase">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="EventBase" nillable="true" type="tns:EventBase" />
  <xs:complexType name="AccountCreated">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EventBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AccountCreated" nillable="true" type="tns:AccountCreated" />
  <xs:complexType name="PerformLongRunningTask">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EventBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="MillisecondsToRun" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PerformLongRunningTask" nillable="true" type="tns:PerformLongRunningTask" />
</xs:schema>